html {
    font-family: "HelveticaNeueLight",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 100%;
    scroll-behavior: smooth;
}

html[data-useragent*='Mac OS X'] {
    font-family: "HelveticaNeueLight",Helvetica,Arial,sans-serif;
}

body {
    background: white;
    color: #7b7b7b;
    padding: 0;
    margin: 0;
    font-family: "HelveticaNeueLight",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1;
    position: relative;
    cursor: default;
    font-size: 14px;
    scroll-behavior: smooth;
}

.bold {
    font-weight: 600;
}

a {
    color: #008238;
    text-decoration: none;
    line-height: inherit;
}

a:hover, a:focus {
    color: #00692d;
}

.visible {
   visibility: visible;
}

a:hover {
    text-decoration: none;
}

.fixed {
    position: fixed!important;
}

strong {
    font-weight: 900;
}

.color-green {
    color: #008238;
}

.section-header {
    position: fixed;
    height: 134px;
    -webkit-transition: height 0.3s ease-out;
    -o-transition: height 0.3s ease-out;
    transition: height 0.3s ease-out;
    width: 100%;
    z-index: 5;
    background-color: #008238;
}

.header-wrapper {
    z-index: 1;
}

/* HEADER */

/* LOGO */
.logo-container .logo-background {
    background: white;
    height: 100%;
}

.logo-container {
    margin-left: -1.5625rem;
    margin-right: -1.5625rem;
    height: 75px;
    z-index: 0;
    position: relative;
}

.logo-container .logo-link {
    display: block;
    height: 100%;
}

.logo-container .logo {
    display: block;
    margin: auto 1.6rem auto;
    width: auto;
    max-width: 12.5rem;
    max-height: 3.125rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
}
/* скрываем лого при скролле */
.section-header.fixed .logo-background {
    height: 4.375rem;
    top: -4.6875rem;
}

.section-header.fixed .header-meta {
    -webkit-transform: translateY(-2.7rem) translateY(50%);
        -ms-transform: translateY(-2.7rem) translateY(50%);
            transform: translateY(-2.7rem) translateY(50%);
}

.section-header.fixed .header-search {
     top: -4.6875rem;
}

.section-header .header-search {
    -webkit-transition: top 200ms ease-out;
    -o-transition: top 200ms ease-out;
    transition: top 200ms ease-out;
    top: 0;
    position: relative;
}

.section-header.fixed .header-menu {
    top: -4px;
    position: absolute;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    -webkit-transform: translateX(-76.5%);
        -ms-transform: translateX(-76.5%);
            transform: translateX(-76.5%);
}

@media (max-width: 1199px) {
    .section-header.fixed .header-menu {
        -webkit-transform: translateX(-69.5%);
            -ms-transform: translateX(-69.5%);
                transform: translateX(-69.5%);
    }
}

@media (max-width: 1024px) {
    .section-header.fixed .header-menu {
        -webkit-transform: translateX(-58.5%);
            -ms-transform: translateX(-58.5%);
                transform: translateX(-58.5%);
    }
}



.section-header .link-menu {
    margin-left: -50.625rem;
}

.section-header.fixed .link-menu {
    margin-left: -20.625rem;
    top: calc(100% - 1px);
}

@media(max-width: 1199px) {
    .section-header.fixed .link-menu {
        margin-left: -19.5rem;
        top: calc(100% - 1px);
    }      
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: column!important;
        -webkit-box-orient: vertical!important;
        -webkit-box-direction: normal!important;
                flex-direction: column!important;
    }
}



.header-menu {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    top: 90px;
    position: absolute;
    right: 16px;
    bottom: 11px;
}

.hidden-search {
    position: absolute;
    bottom: -3.125rem;
    right: 0;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
    -webkit-transition: bottom 400ms ease-out;
    -o-transition: bottom 400ms ease-out;
    transition: bottom 400ms ease-out;
    opacity: 0;
}

.hidden-search .form-submit {
    color: #fff;
    border: none;
    background: transparent;
    cursor: default;
}

button.form-submit:focus {
    outline: none;
}

.section-header.fixed .hidden-search {
    position: absolute;
    bottom: 70px;
    right: 15px;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    opacity: 1;
}

.section-header.fixed .hidden-search .form-submit{
    cursor: pointer;
}


.main {
    position: relative;
    background-color: #f2f2f2;
    z-index: 1;
    width: 100%;
}

@media only screen and (min-width: 769px) {
    .logo-container .logo {
        margin: auto;
        left: 0;
    }
}

@media only screen and (min-width: 1025px) {
    .logo-container .logo {
        width: auto;
        max-height: none;
    }
}

.main .logo-background .logo {
    max-height: 100%;
    -webkit-transform: rotate(0.01deg);
        -ms-transform: rotate(0.01deg);
            transform: rotate(0.01deg);
}

@media only screen and (min-width: 993px) {
    .logo-container {
        position: relative;
        float: left;
        width: 220px;
        height: auto;
        margin: 0;
    }
}

@media only screen and (min-width: 993px) {
    .logo-container .logo-background {
        position: absolute;
        height: 70px;
        width: 220px;
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
                box-shadow: 0 0 10px rgba(0,0,0,0.4);
    }
}

@media only screen and (min-width: 1025px) {
    .logo-container .logo-background {
        height: 220px;
    }
}

@media only screen and (min-width: 993px) {
    .main .logo-background {
        -webkit-transition: top 200ms ease-out;
        -o-transition: top 200ms ease-out;
        transition: top 200ms ease-out;
        top: 0;
    }
}

@media only screen and (min-width: 1025px) {
    .main .logo-background {
        -webkit-transition: height 200ms ease-in,top 200ms ease-out 200ms;
        -o-transition: height 200ms ease-in,top 200ms ease-out 200ms;
        transition: height 200ms ease-in,top 200ms ease-out 200ms;
        top: 0;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-toggler {
        display: block!important;
    }
}


 @media (max-width: 992px) {
    .offcanvas-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -300px;
        width: 300px;
        padding-top: 3rem;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #e0e0e0;
        transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
        -webkit-transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
        -o-transition: transform .3s ease-in-out, visibility .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    }

    .offcanvas-collapse.open {
        visibility: visible;
        -webkit-transform: translateX(300px);
        -ms-transform: translateX(300px);
            transform: translateX(300px);
    }

    .offcanvas-close {
        position: absolute;
        font-size: 2.5rem;
        font-weight: 700;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.3);
        border: none;
        -webkit-appearance: button;
        background-color: transparent;
        right: 0;
        top: 0;
        padding: 0 1.5rem;
    }

    .offcanvas-open {
        overflow: hidden;
    }
}

/* mobile-menu */

.descktop-menu {
    display: block;
}

@media (max-width: 768px) {
    .descktop-menu {
        display: none!important;
    }
}

/* mobile-menu */

.mobile-menu {
    display: none;
}

@media (max-width: 768px) {
    .mobile-menu {
        display: block;
    }
}

.header-meta {
    -webkit-transition: -webkit-transform 400ms ease-out;
    transition: -webkit-transform 400ms ease-out;
    -o-transition: transform 400ms ease-out;
    transition: transform 400ms ease-out;
    transition: transform 400ms ease-out, -webkit-transform 400ms ease-out;
    padding: 0.3125rem 0;
    font-size: 0.875rem;
    line-height: 23px;
}

@media only screen and (min-width: 769px) {
    .header-meta, .header-search {
        margin-left: 15.3125rem;
    }    
}

.worlwide a:hover {
    text-decoration: none;
}
.worlwide i {
    font-size: 20px;
}

.block-search-form input{
    height: 2.5rem;
    font-weight: 600;
    max-width: 210px;
    border: 1px solid #cccccc;
    border-right: none;
    padding: 0.5625rem;

}

.form-submit {
    height: 100%;
    padding-right: 14px;
    background: #fff;
    border-left: none!important;
    border: 1px solid #cccccc;
    color: #7b7b7b;   
}
/* descktop-menu */

.link-menu {
    display: none;
    position: relative;
}

/* :hover  */
.company-link:hover .link-menu {   
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    position: absolute;
    z-index: 2;
    min-height: 320px;
    background: #fff;
    height: 100%;
}
/* :hover */
.cement-link:hover .link-menu {   
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    position: absolute;
    z-index: 2;
    min-height: 397px;
    background: #fff;
    height: 100%;
    overflow: hidden;
}

.cement-link:hover .productions {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.descktop-menu {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: right 400ms ease-out;
    -o-transition: right 400ms ease-out;
    transition: right 400ms ease-out;
}

.descktop-menu ul li {
    text-transform: uppercase;
    padding: 0.625rem 0.5rem 0.3125rem;
}

.descktop-menu>ul>li:hover {
    background-color: #004f22;  
}

.link-menu .sm-blue {
    border-radius: 0px!important;
}

ul.main-menu {
    width: 33.3333%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #fff!important;
}

ul.main-menu a {
    background: #fff;
    font-family: inherit;
    font-size: inherit;
    color: #7b7b7b;
    text-transform: uppercase;
    padding: 0.5125rem 0.9375rem;
    font-size: 14px;
    font-weight: 500;
    text-shadow: none;
    line-height: 1;
}

ul.main-menu a:hover {
    font-family: inherit;
    line-height: 1;
    color: inherit;
    text-shadow: none;
    color: #00692d!important;
    background-color: #e7e7e7;
    border-radius: 0!important;
}

li.reset-padding a:hover {
    border-radius: 0!important;
}

.sm-blue.sm-vertical > li:last-child > a, .sm-blue.sm-vertical > li:last-child > :not(ul) a {
    border-radius: 0px!important;
}

.first-block>li {
    padding-top: 9.5px!important;
}

li.reset-padding {
    padding: 0px!important;
}

/* МЕНЮ ЦЕМЕНТ */
ul.sub-wrapper.productions {
    width: 755px;
    left: 100%;
    top: 0px;
    height: 389px;
    border-radius: 0px!important;
    padding: 0;
}

ul.sub-wrapper.sale {
    min-width: 755px!important;
    left: 100%!important;
    top: -24px!important;
    height: 388px;
    border-radius: 0px!important;
    margin-left: 0px!important;
    margin-top: -15px!important;
}

span.second-block.products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 50%;
    width: 50%;
}

.fz-19 {
    font-size: 19px!important;
}

.dark-grey {
    background-color: #e7e7e7!important;
}

.descktop-menu > ul > li > a{
    color: #fff;
    letter-spacing: -.15px;
}

span.third-block.products {
    width: 50%;
    max-width: 50%;
}

.plants .first-block {
        width: 50%;
    max-width: 50%;
} 

.has-arrow .sub-arrow {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
}

ul.sub-wrapper.plants {
    min-width: 755px!important;
    /* display: flex!important; */
    left: 100%!important;
    top: -54px!important;
    height: 388px;
    border-radius: 0px!important;
    margin-left: 0px!important;
    margin-top: -15px!important;
}

.kry-amv-link,
.kry-plant-link,
.kam-plant-link {
    width: 50%;
    max-width: 50%;
    float: left;
}

.kam-plant,.amv-plant {
    padding: 0!important;
}

.kry-plant,
.amv-plant,
.kam-plant {
   padding-bottom: 0!important;
   padding-left: 0!important;
   padding-right: 0!important;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.amv-plant a,
.kry-plant a,
.kam-plant a {
    width: 50%;
    max-width: 50%;
}

.amv-plant-info a,
.kry-plant-info a,
.kam-plant-info a {
    width: 100%;
    max-width: 100%;
}

.kry-plant-info-wrapper.d-block,
.amv-plant-info-wrapper,
.kam-plant-info-wrapper {
    margin-left: 50%!important;
    z-index: 1;
    top: -1px!important;
    width: 50%!important;
    max-width: 50!important;
    height: 388px;
}

.amv-plant-info-wrapper {
    top: -21px!important;
    margin-top: -20px!important;
    max-width: 50%!important;
}
.kam-plant-info-wrapper {
    top: -50px!important;
    max-width: 50%!important;
    margin-top: -20px!important;

}

.amv-plant-info span.second-block.products,
.kry-plant-info span.second-block.products,
.kam-plant-info span.second-block.products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 100%;
}
.amv-plant-info,
.kry-plant-info,
.kam-plant-info {
    padding: 0!important;
    height: 100%;
}

ul.sub-wrapper.karier {
    width: 755px!important;
    min-width: 755px!important;
    left: 100%!important;
    top: -79px!important;
    margin-top: -20px!important;
    margin-left: 0!important;
    height: 388px;
    border-radius: 0px!important;
    padding: 0;
    max-width: 100%!important;
}
ul.sub-wrapper.investor {
    width: 755px!important;
    min-width: 755px!important;
    left: 100%!important;
    top: -109px!important;
    margin-top: -20px!important;
    margin-left: 0!important;
    height: 388px;
    border-radius: 0px!important;
    padding: 0;
    max-width: 100%!important;
}

ul.sub-wrapper.karier span.second-block.karier {
    max-width: 50%!important;
    width: 50%!important;
}
ul.sub-wrapper.investor span.second-block.investor {
    max-width: 50%!important;
    width: 50%!important;
}

ul.sub-wrapper.karier span.second-block.products,
ul.sub-wrapper.karier span.third-block.products{
    max-width: 100%!important;
    width: 100%!important;
}

.section-header.fixed ul.sub-wrapper.plants {
    top: -53px!important;
}



@media screen and (min-width: 1220px) {
    .descktop-menu ul li {
        padding: 0.625rem 0.625rem 0.3125rem;
    }
}

section.block-search-form {
    padding-bottom: 17.5px;
}

.language-selector {
    display: inline-block;
}
.language-selector .fa-chevron-down{
    font-size: 10px;
}

.language-selector-wrapper:hover {
    text-decoration: none;
}

.language-dropdown {
    display: none;
}

.language-selector-wrapper:hover .language-dropdown{
    display: block;
}

.language-selector-wrapper {
    margin-left: 1.5625rem;
}

/* SLIDER */

#slider {
    padding-top: 134px;
    -webkit-transition: padding .3s;
    -o-transition: padding .3s;
    transition: padding .3s;
}


.img-slider {
    /* background-image: url('../img/slider/heidelbergcement-122_0.jpg'); */
}

.slider-wrapper .bx-wrapper {
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

@media (max-width:1366px) {
    .slider-wrapper .bx-wrapper .bx-prev,
    .slider-wrapper .bx-wrapper .bx-next {
        display: none;
    }
}

.slider-wrapper .bx-wrapper .bx-prev {
    width: 86px;
    height: 92px;
    background-image: url('../img/slider/left.png');
    background-position: 10px 16px;
    background-color: rgba(0,130,56,0.7);
    color: white;
    border: 1px solid rgba(0,155,67,0.7);
    left:0;
}

.slider-wrapper .bx-wrapper .bx-controls-direction a {
    top: 48.5%;
}
.slider-wrapper .bx-wrapper .bx-next {
    width: 86px;
    height: 92px;
    background-image: url('../img/slider/right.png');
    background-position: 14px 16px;
    background-color: rgba(0,130,56,0.7);
    color: white;
    border: 1px solid rgba(0,155,67,0.7);
    right:0;
}

.slider-wrapper .bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus {
    background-position: 10px 16px!important;
}
.slider-wrapper .bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {
    background-position: 14px 16px!important;
}

.slider-wrapper .bx-pager.bx-default-pager {
    padding: 0;
}

.slider-wrapper .bx-wrapper .bx-pager, .slider-wrapper .bx-wrapper .bx-controls-auto {
    bottom: 20px;
}

a.bx-prev:before {
    font-size: 3.75rem;
    font-family: "entypo";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
    content: "\E766";
}

.slider-wrapper .bx-wrapper .bx-pager.bx-default-pager a {
    height: 18px;
    width: 100px;
    background-color: #989898;
}

.slider-wrapper .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background-color: #484848 !important;
}

.slider-wrapper .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #b2b2b2;
}

.slider-wrapper .bx-wrapper .bx-pager.bx-default-pager a {
    margin-left: 2px;
    margin-right: 0;
    border-radius: 0px;
}

.slider-wrapper .bx-wrapper .bx-controls-direction a {
    z-index: 4;
    margin-top: -15px;
}

.content-header__caption {
    position: static;
    width: 100%;
    padding: 1.5625rem 1.5625rem;
    background: #008238;
    color: white;
    margin-bottom: 1.5625rem;
    *zoom: 1;
    margin: 0;
}

@media only screen and (min-width: 1025px) {
    .content-header__caption {
        position: absolute;
        left: 15.75%;
        top: 26.5%;
        bottom: auto;
        width: 480px;
        background: rgba(0,130,56,0.7);
        border: 1px solid rgba(0,155,67,0.7);
    }
}

    @media (max-width: 1024px) {
        .content-header__caption {
            position: absolute;
            left: 7.75%;
            top: 26.5%;
            bottom: auto;
            width: 480px;
            background: rgba(0,130,56,0.7);
            border: 1px solid rgba(0,155,67,0.7);
        }
        .content-header__caption h4 a {
            color: #fff;
            text-decoration: underline;
        }
    }

    .content-header__caption h2 {
        font-weight: 600;
        font-size: 40px;
        line-height: 45px;
        letter-spacing: 1px;
    }
    
    .content-header__caption a {
        color: white;
        text-decoration: underline;
    }


/* END Slider */

.f-dropdown {
    position: absolute;
    /* top: -9999px; */
    list-style: none;
    margin-left: 0;
    width: 100%;
    max-height: none;
    height: auto;
    background: #f2f2f2;
    border: solid 1px #cccccc;
    font-size: 16px;
    z-index: 99;
    margin-top: 4px;
    max-width: 200px;
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
}

.f-dropdown:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    border-color: transparent transparent #f2f2f2 transparent;
    border-bottom-style: solid;
    position: absolute;
    top: -12px;
    left: 10px;
    z-index: 99;
}

.f-dropdown:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 7px;
    border-color: transparent transparent #cccccc transparent;
    border-bottom-style: solid;
    position: absolute;
    top: -14px;
    left: 9px;
    z-index: 98;
}

.language-dropdown {
    margin-top: 0;
    width: auto;
    white-space: nowrap;
}


.f-dropdown li:hover, .f-dropdown li:focus {
    background: #e7e7e7;
}

.f-dropdown li {
    font-size: inherit;
    cursor: pointer;
    line-height: 1.125rem;
    margin: 0;
}

.f-dropdown li a {
    display: block;
    padding: 0.375rem 0.5625rem;
    color: #555555;
}

/* LINK-MENU */

.link-menu {
    margin-left: -35.625rem;
    width: 71.25rem;
    top: 98%;
    left: 50% !important;
    border: 4px solid #004f22;
    font-family: inherit;
    color: #7b7b7b;
}

@media(max-width: 1199px) {
    .section-header .link-menu {
        margin-left: -45.625rem;
        width: -40.625rem;
         top: 98%;
    }
}

@media (max-width: 1199px) {
    .section-header .link-menu {
        margin-left: -41rem;
        width: 62rem;
    }
    li ul.sub-wrapper[role='group'] {
        width: 725px!important;
        min-width: 725px!important;
    }
    ul.main-menu {
    width: 26.3333%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #fff!important;
    }
    .field-wrapper img {
    max-width: 334px!important;
    }
}

.first-block, .second-block, .third-block {
    max-width: 33.3333%;
    width: 33.3333%;
    padding: 0.9375rem;
}

@media(max-width: 1199px) {
    .first-block {
        max-width: 26.3333%;
    }
    .second-block, .third-block {
    max-width: 37.3333%;
    width: 37.3333%;
    padding: 0.9375rem;
}
}

.third-block {
    padding-right: 4px;
}

.first-block {
    padding-top: 9.5px;
}

.first-block a, .second-block a, .third-block a {
    letter-spacing: 1px;
}

.box {
    height: 100%;
}

.first-block .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.first-block a {
    text-transform: uppercase;
    color: #7b7b7b;
    padding: 0.5125rem 0.9375rem;
}

.first-block a:hover {
    text-transform: uppercase;
    color: #008238;
}

.first-block .box span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.first-block .box>span:hover a {
    background-color: #e7e7e7;
}

.first-block .box>span a {
    width: 100%;
}

.second-block {
    background-color: #e7e7e7;
}

.second-block h4 {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    text-transform: capitalize;
    /* border-bottom: 1px solid #d7d7d7; */
    padding-bottom: 8px;
}

.second-block table {
    border:none;
    width: 100%;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
}

.second-block table tr {
    border-bottom: 1px solid #d7d7d7;
}

.second-block table td {
    border-color: #e7e7e7;
}

.second-block table h3 {
    margin: 0;
    padding: 5px;
    font-weight: 600;
    font-size: 28px;
}

.second-block table h5 {
    margin: 0;
    font-size: 1.1875rem;
    text-transform: lowercase;
}

.second-block h5 a {
    margin: 0;
    color:#008238;
    font-size: 1.1875rem;
    text-transform: lowercase;
    padding-top: 30px;
}

.second-block .field h5.link,
.second-block .field a {
    padding-top: 20px;
    font-weight: bold;
}

.third-block h4 {
    font-size: 1.3125rem;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    text-transform: initial;
    padding-bottom: 8px;
}

.third-block .field-wrapper img {
    max-width: 100%;
}

.cement-link .second-block h4 {
    font-size: 21px;
}

.cement-link .field a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: initial;
    font-size: 19px;
}

.target-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: initial;
    font-size: 19px;
    padding-top: 20px!important;
    font-weight: bold!important;
    color: #00692d!important;
}
.target-a:hover {
    background-color: transparent!important;
}

/* main-info */
.row-section-content {
    /* margin-top: 4rem; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    max-width: 71.25rem;
}

@media(max-width: 1024px) {
    section.section-content {
        padding-left: 20px;
    }
}

.row-section-content .page-title{
    color: #7b7b7b;
    font-weight: 600;
}

.row-section-content h3{
    color: #7b7b7b;
    font-weight: 600;
    margin-bottom: .96rem;
}

.row-section-content p{
    color: #7b7b7b;
    font-size: 16px;
    line-height:  1.6rem;
    letter-spacing: .25px;
    margin-bottom: 1.6rem;
}

@media (min-width: 769px) {
    .row-section-content .page-title{
        font-size: 3.0625rem;
    }
}

@media (min-width: 1141px) {
    .row-section-content .columns{
        padding-left: 1.5625rem;
        padding-right: 1.5625rem;
    }
}

@media only screen and (min-width: 1025px){
    .row-section-content .tabs {
        margin: 0 1.5625rem;
    }
}

.row-section-content .tabs dd {
    margin-bottom: .9rem;
    margin-top: 1rem;
    font-size: 16px;
}

.row-section-content .tabs-content {
    background: #d7d7d7;
    margin-bottom: 1.5rem;
}

.row-section-content .tabs-content .teaser{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1.5625rem;
}

.row-section-content .tabs-content .teaser:hover{
    background: #e7e7e7;
}

.row-section-content .teaser .teaser-content {
    margin-left: 1rem;
    padding: 0.75rem 0;
}

.row-section-content .teaser .teaser-date {
    font-size: 0.875rem;
    color:#7b7b7b;
    padding-bottom: 10px;
}

.row-section-content .content.active {
    padding: 1.5625rem 0;
}

.row-section-content .teaser-title a {
    color: #008238;
    text-decoration: none;
    font-size: 16px;
}

.row-section-content .tabs dd.active a {
    background: #d7d7d7;
    font-size: inherit;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
    margin-bottom: 1px;
    color: #008238;
    padding-top: 0.725rem;
    padding-bottom: 0.7875rem;
}

/* Social */

.social-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    /* height: 22px;
    width: 24px;
    padding: 0 0.125rem; */
}

.share-button label span {
    /* display: none; */
}

.share-button label.entypo-share {
    background-color: transparent;
    position: absolute;
    font-size: 18px;
    padding: 0;
    color: #7b7b7b;
}
.share-button label.entypo-share:hover {
    color: #008238;
}

.social-container .share-button .social.active {
    margin-left: 0px;
    margin-bottom: -70px;
}

.social-container .share-button {
    position: relative;
    width: 26px;
    height: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.page-meta i.fas {
    font-size: 18px;
    padding: 4px;
    color: #7b7b7b;
}

.page-meta i.fas:hover {
    color: #008238;
    cursor: pointer;
}

.page-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 14px;
    padding-top: 20px;
}

/* Footer */

.footer {
    padding-top: 1.5625rem;
    background: white;
}

.footer ul {
    list-style: none;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.6rem;
    width: 100%;
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer .back-to-top {
    position: fixed;
    bottom: -2.5rem;
    right: 2rem;
    text-align: right;
    z-index: 5;
    -webkit-transition: bottom 400ms ease-out;
    -o-transition: bottom 400ms ease-out;
    transition: bottom 400ms ease-out;
}

.footer ul a {
    color: #989898;
}

.footer ul li {
    width: 25%;
    padding: 0 0.8rem 0.4rem;
    padding-left: 0;
}

.footer ul li:not(.level-1) a {
    font-size: 14px;
    font-weight: 300;
}

.footer ul li.level-1 {
    padding-bottom: 1.1625rem;
}

.footer ul .nolink {
    color: #7b7b7b;
}

.footer ul.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 1.5625rem;
    padding-left: 0;
}

.footer ul.menu li {
    width: 100%;
}

.footer ul.first-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.footer li.level-1 a:hover {
    color: #008238;
}

.footer ul.first-block li.level-1 {
    padding-left: 0;
}

@media only screen and (min-width: 1025px) {
    .large-block-grid-4 > li {
        width: 25%;
        padding: 0 0.8rem 1.6rem;
    }
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 32px;
    z-index: 6;
    cursor: pointer;
    visibility: hidden;
    opacity: .5;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.back-to-top.visible {
    opacity: 1;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.back-to-top .back-to-top-link {
    background-color: #008238;
    line-height: 0;
    padding: 0.625rem;
    display: block;
    height: 39.2px;
}

.back-to-top .back-to-top-link svg {
    width: 1.25rem;
    height: 1.25rem;
    color: white;
    -webkit-transform: translateY(-10%);
        -ms-transform: translateY(-10%);
            transform: translateY(-10%);
}

/* adaptive */

@media only screen and (max-width: 992px) {
    .content-container {
        display: none;
    }
    .section-header {
        background-color: transparent;
        height: 75px!important;
        background-color: #fff!important;
    }
    section#slider {
        padding-top: 75px!important;
    }
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.mobile-menu {
        height: 75px;
        background-color: #fff!important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    div#navbarSupportedContent{
        z-index: 1;
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer ul.first-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .content-header__caption h2 {
        font-size: 26px;
    }
    .slider-wrapper .bx-wrapper .bx-pager.bx-default-pager a {
        width: 50px;
    }
    div#section_container {
        margin: inherit;
    }
}

@media only screen and (max-width: 768px) {
    .slider-wrapper .bx-wrapper .bx-pager, .slider-wrapper .bx-wrapper .bx-controls-auto {
        bottom: -50px;
    }
    .content-header__caption {
        top: 12.5%;
        max-width: 305px;
        padding: 1rem;
    }

    .content-header__caption h2 {
        font-size: 18px;
        line-height: 22px;
    }
    .content-header__caption h4 {
        font-size: 20px;
        line-height: 16px;
    }
    .hide-for-small {
        display: none;
    }
}

/* META */

.section-meta {
    margin-bottom: 1.5625rem;
}

.breadcrumbs {
    margin-bottom: 0;
    padding: 0.15625rem 0;
}

.breadcrumbs > * {
    margin: 0;
    float: left;
    font-size: 0.875rem;
    text-transform: none;
}

.breadcrumbs > * a, .breadcrumbs > * span {
    text-transform: none;
    color: #008238;
}

.breadcrumbs > *:before {
    content: "/";
    color: #aaaaaa;
    margin: 0 0.3125rem;
    position: relative;
    top: 1px;
}

.breadcrumbs > *:first-child:before {
    content: " ";
    margin: 0;
}

.breadcrumbs a:hover {
    cursor: pointer;
}

.breadcrumbs {
    display: block;
    padding: 0;
    overflow: hidden;
    margin-left: 0;
    list-style: none;
    border-style: solid;
    border-width: 0;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
}


.breadcrumbs > * a, .breadcrumbs > * span {
    text-transform: none;
    color: #008238;
}

.breadcrumbs > * span {
    color: #7b7b7b;
}

hr {
    border: solid #d7d7d7;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25rem 0 1.1875rem;
    height: 0;
}

/* share-button */

.share-button {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.fork img {
    opacity: .6;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.fork img:hover {
    opacity: 1;
}

@media (max-width: 992px) {
    .page-meta {
        padding-top: 40px;
    }
}

@media only screen and (max-width: 320px) {
    .content-header__caption {
        top: 1.5%;
        max-width: 280px;
        padding: 1rem;
    }
}

@media only screen and (max-width: 375px) {
    .slider-wrapper .bx-wrapper .bx-pager, .slider-wrapper .bx-wrapper .bx-controls-auto {
        bottom: -30px;
    }
}